@import url(https://db.onlinewebfonts.com/c/19b8f54eb1f074fb01efb1c4f02e9623?family=AvertaStd-Regular);

@font-face {
  font-family: "AvertaStd-Regular";
  src: url("https://db.onlinewebfonts.com/t/19b8f54eb1f074fb01efb1c4f02e9623.eot");
  src: url("https://db.onlinewebfonts.com/t/19b8f54eb1f074fb01efb1c4f02e9623.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/19b8f54eb1f074fb01efb1c4f02e9623.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/19b8f54eb1f074fb01efb1c4f02e9623.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/19b8f54eb1f074fb01efb1c4f02e9623.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/19b8f54eb1f074fb01efb1c4f02e9623.svg#AvertaStd-Regular")format("svg");
}

:root {
  font-style: normal;
  --dark-color: #03363D;
  --light-color: #03363dd7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,html {
  font-family: "AvertaStd-Regular";
  color: #0b0b0b;
  height:100%
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 15px;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

nav h1 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--light-color);
}

nav h1 span {
  font-weight: 700;
  color: var(--dark-color)
}

.nav__items {
  display: flex;
  align-items: center;
  gap: 25px;

}

.nav__items a{
  text-decoration: none;
  padding: 5px 5px;
  /* height: 100%; */
}
.nav__items p {
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  padding: 5px 0;
  color: #03363D;
  width: 100%;
}

.nav__items p::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: #213547;
  bottom: 0;
  right: 0;
  transition: all ease-in-out 0.4s;
}

.nav__items p:hover::after {
  right: unset;
  left: 0;
  width: 100%;
}

.get_start_btn {
  text-decoration: none;
  border: none;
  color: white;
  background-color: var(--light-color);
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
  height: 100%;
}

.get_start_btn:hover {
  background-color: var(--dark-color);
}

footer {
  padding: 70px 20px 40px;
}

.footer__data {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 30px;
}

.logo__detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo__detail h1 {
  font-size: 2.1rem;
  color: var(--dark-color);
}

.logo__detail h1 span {
  color: var(--light-color);
}

.logo__detail p {
  font-size: 18px;
  opacity: 0.8;
}

.po_co_st_j {
  display: flex;
  justify-content: space-between;
}

.po_co_st_j__heading {
  font-size: 14px;
}

.po_co_st_j p {
  font-size: 16px;
  width: fit-content;
  cursor: pointer;
}

.po_co_st_j p:hover {
  border-bottom: 1.5px solid var(--light-color);
}

.po_co_st_j__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.po_co_st_j__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social__media a {
  padding-right: 10px;
}

.policy__details {
  display: flex;
  gap: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 15px;
}

.footer__data #copy_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}